.climate{
    margin-top: 2em;
    margin-left: 10em;
    margin-right: 10em;
    align-content: center;
}

.day{
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    align-content: center;
    background-color: white;
    border-width:2px;
    border-style:solid;
    border-color:lightgrey;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.housing-photo {
    height: 120px;
    width: 120px;
}

.month{
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    background-color: white;
    border-width:2px;
    border-style:solid;
    border-color:lightgrey;
    border-radius: 5px;
    margin-bottom: 25px;
}

.two-box{
    width: 49%;
}