.climate-photo {
    height: 120px;
    width: 120px;
}

.housing{
    margin-top: 2em;
    margin-left: 10em;
    margin-right: 10em;
    align-content: center;
}

.map{
    background-color: white;
    padding: 5px;
    border-width:2px;
    border-style:solid;
    border-color:lightgrey;
    border-radius: 5px;
    margin-bottom: 25px;

}

.table-box{
    background-color: white;
    margin-bottom: 25px;
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    border-width:2px;
    border-style:solid;
    border-color:lightgrey;
    border-radius: 5px;
    
}

.graph{
    text-align: center;
    width: 49%;
}

.graphs{
    background-color: white;
    padding-top: 1em;
    border-width:2px;
    border-style:solid;
    border-color:lightgrey;
    border-radius: 5px;
    margin-bottom: 25px;
}


