.climate-photo {
    height: 120px;
    width: 120px;
}

.housing-photo {
    height: 120px;
    width: 120px;
}

.instance{
    margin-top: 2em;
    margin-left: 10em;
    margin-right: 10em;
    align-content: center;
}

.logo{
    margin-left: 35px;
    height: 75px;
}

.title{
    background-color: white;
    margin-left: 35px;
}

.d-inline-flex{
    background-color: white;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    border-width:2px;
    border-style:solid;
    border-color:lightgrey;
    margin-bottom: 25px;
    border-radius: 5px;
}

.desc{
    background-color: white;
    max-width: 1200px;
    padding: 20px;
    border-width:2px;
    border-style:solid;
    border-color:lightgrey;
    border-radius: 5px;
    margin-right: 35px;
}

.map{
    background-color: white;
    padding: 5px;
    border-width:2px;
    border-style:solid;
    border-color:lightgrey;
    border-radius: 5px;
}

a{
    text-decoration: underline;
}
