.model{
    margin-top: 2em;
    margin-left: 8em;
    margin-right: 8em;
}

.model-content{
    padding: 1em;
    border-width:2px;
    border-style:solid;
    border-color:lightgrey;
    margin-bottom: 25px;
    border-radius: 5px;
    margin-top: 2em;
    background-color: white;
}

.model-table{
    margin-top: 1em;
    border: 2px;
    border-style:solid;
    border-color: black;
    border-radius: 5px;
    
}